{:paths   ["src/main"]

 :deps    {edn-query-language/eql     {:mvn/version "1.0.0"}
           com.taoensso/timbre        {:mvn/version "4.10.0"}
           com.taoensso/encore        {:mvn/version "3.9.2"}
           com.fulcrologic/guardrails {:mvn/version "0.0.12"}
           com.fulcrologic/fulcro-rad {:mvn/version "1.0.0-RC1"}
           org.clojure/clojure        {:mvn/version "1.10.1"}
           com.xtdb/xtdb-core         {:mvn/version "1.20.0"}}

 :aliases {:test      {:extra-paths ["src/test"]
                       :extra-deps  {fulcrologic/fulcro-spec {:mvn/version "3.1.6"}}}

           :clj-tests {:extra-paths ["src/test"]
                       :main-opts   ["-m" "kaocha.runner"]
                       :extra-deps  {lambdaisland/kaocha {:mvn/version "1.0.632"}}}
           :dev       {:extra-paths ["src/dev" "resources"]
                       :extra-deps  {org.clojure/tools.namespace {:mvn/version "1.0.0"}}}}}
